<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>timmy</title>
  <link href="timothy.css" rel="stylesheet" type="text/css" />
</head>
<script src="timothy.js"></script>

  <ul>
  <li><a href="https://sharkjr17.github.io/eeeee.group-idk/">Home</a></li>
  
  <li><a href="https://timmy.teammaplesyrup.repl.co">Timothy</a></li>
  <li><a href="https://Zspajarko.teammaplesyrup.repl.co">spajarko</a></li>

    
    <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Games</a>
    <div class= "dropdown-content">
      <a href="https://snake.teammaplesyrup.repl.co">snake</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      
    </div>
  </li>
</ul>
<body>

  <div id="Tim">
  .
  </div>
  <div id="Tim1">
  .
  </div>
</body>
</html>
