html, body {
     font-family:monospace;
     background-color: #000000;
  }

body * {
    font-family:monospace;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #333;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: fixed;
  min-width: 160px;
  z-index: 69420;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
li.dropdown {
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  opacity: 0.0;
  z-index:69420;
  transition-duration:1s;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}
li {
  float: left;
  border-right: 1px solid #bbb;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
ul:hover {
  opacity: 1;
}
  
  
  
  
  #maple1 {
   text-align: center;
    margin-top: 100px;
   
   
  }
  
  body{
    color: #ffffff;
    height:100em;
  }
  
  
  
  #drag1, #drag2, #drag3 {
    float: center;
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
    
  }
  
  #clr1 {
    margin: 20px
  }
