<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Shark</title>
  <link href="shark.css" rel="stylesheet" type="text/css" />
  <script src="shark.js"></script>
</head>


<ul>
  <li><a href="https://the-council.teammaplesyrup.repl.co/">Home</a></li>

    <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">About the Creators</a>
    <div class= "dropdown-content">
<a href="Components/shark/shark.html">Shark</a>
<a href="Components/timothy/timothy.html">Timothy</a>
    </div>
      
    <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Games</a>
    <div class= "dropdown-content">
      <a href="#">snake</a>
      
      
    </div>
  </li>
</ul>
  



  

</html>
